[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=alt-apps
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=60
Icon=preferences-desktop-default-applications
Name=Applications
Name[ru]=Приложения
