[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=alt-display
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=20
Icon=video-display
Name=Display
Name[ru]=Экран
