[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=alt-shell
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=50
Icon=preferences-desktop
Name=Home screen and controls
Name[ru]=Рабочий стол и управление
