[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=alt-sound
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=30
Icon=audio-volume-high
Name=Sound and notifications
Name[ru]=Звук и уведомления
