[Desktop Entry]
Type=Service
X-KDE-System-Settings-Category=alt-system
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=90
Icon=preferences-system
Name=System
Name[ru]=Система
