[Unit]
Description=NFC: опрос меток, уведомления, история
PartOf=graphical-session.target

[Service]
ExecStart=/usr/local/bin/alt-nfc.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
